<--! attributes -->
<h1><%= @system.name %></h1>
<p>Has fee: <%= @system.has_fee%></p>
<p>Highest trailhead: <%= @system.highest_trailhead%></p>
<--! instance method-->
<p>Number Of Trails: <%= @system.count_of_trails %></p>
